body  {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-style: normal;
    font-size: 15pt;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 131, 12);
    height: 700px;
    max-height: 1000px;
}

.page-perfil {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-perfil img {
    max-width: 50%;
    border-radius: 50%;
    border: solid  rgb(245, 94, 1) 10px;
}

.page-conquists-programing {
    margin: 0;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-languanges-programing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-languanges-programing img{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(245, 94, 1);;
}

.page-languanges-programing img:hover {
    background-color: rgb(240, 173, 4);
}

.page-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-tools img {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(245, 94, 1);
}

.page-tools img:hover {
    background-color: rgb(240, 173, 4);
}

.page-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-social-media img {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(245, 94, 1);
}

.page-social-media img:hover {
    background-color: rgb(240, 173, 4);
}

.title p {
    text-align: center;
}

.footer-final p {
    margin: 13px;
    text-align: center;
}

