body  {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color: rgb(255,255,255);
    scrollbar-width: thin;          
    scrollbar-color: blue orange;  
    height: 700px;
    max-height: 1000px;
}

.page-perfil {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-perfil img {
    max-width: 50%;
    border-radius: 50%;
}

.page-conquists-programing {
    margin: 0;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-languanges-programing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-languanges-programing img{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(0, 32, 240);
}

.page-languanges-programing img:hover {
    background-color:rgba(29, 246, 0, 0.68);
}

.page-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-tools img {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(0, 32, 240);
}

.page-tools img:hover {
    background-color:rgba(29, 246, 0, 0.68);
}

.page-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-social-media img {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(0, 32, 240);
}

.page-social-media img:hover {
    background-color:rgba(29, 246, 0, 0.68);
}

.title p {
text-align: center;
}
